body{
    margin: 0 auto;
    background-color: #ffdcdc;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
header {
    height: 10vh;
    width: 100%;
    padding: 10px;
    background-color: #490000;
    flex-wrap: wrap;
    text-align: center;
}
.login {
    text-align: center;
    width: 20%;
    background-color: #490000; 
    color: white;
    border-radius: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 3%;
}

.error{
    color: red
}
